<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>connectyee</title>
    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.paper.min.css" rel="stylesheet">
    <link href="css/bootstrap-multiselect.css" rel="stylesheet">
    <link href="css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="css/page-loading-effects.css" rel="stylesheet">
    <link href="css/connectyee.icon.css" rel="stylesheet">
    <link href="css/connectyee.common.css" rel="stylesheet">
    <link href="css/connectyee.attendance.css" rel="stylesheet">
    <script type="text/javascript" src="js/snap.svg-min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header>
        <div id="header-container" class="clearfix">
            <div id="header-brand-container" class="pull-left">
                <div id="menu-btn-wrapper" class="visible-xs-block">
                    <span id="menu-btn-top" class="menu-btn"></span>
                    <span id="menu-btn-middle" class="menu-btn"></span>
                    <span id="menu-btn-bottom" class="menu-btn"></span>
                </div>
            </div>
            <div id="page-title-container" class="pull-left"><span class="header-icon glyphicon glyphicon-calendar" aria-hidden="true"></span></span><span id="page-title">AttendanceList</span></div>
            <div id="logout-container" class="pull-right">
                <button id="logout-btn" type="button" class="btn btn-default"><a href="#"><span id="logout-img" class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></button>
            </div>
            <div id="user-name-container" class="pull-right"><span id="user-name">ＸＸＸ ＸＸＸ</span></div>
        </div>
    </header>
    <div id="side-bar-desktop-wrapper" class="hidden-xs hidden-sm">
        <div id="side-bar-desktop" class="list-group">
            <a class="side-bar-top side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-home" aria-hidden="true"></span>
                <h6 class="side-bar-desktop-heading list-group-item-heading">ダッシュボード</h6>
                <p class="side-bar-desktop-text list-group-item-text">DashBoard</p>
            </a>
            <a class="side-bar-item side-bar-item-open list-group-item" href="#" data-menu-parent="1">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <h6 class="side-bar-desktop-heading list-group-item-heading">Ｗｅｂメール</h6>
                <p class="side-bar-desktop-text  list-group-item-text">WebMail</p>
                <span class="side-bar-collapse-icon glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            </a>
            <div data-menu-child="1">
                <a class="side-bar-item side-bar-item-open list-group-item" href="#">
                    <span class="ripple-effect"></span>
                    <span class="side-bar-icon glyphicon icon-email-edit" aria-hidden="true"></span>
                    <h6 class="side-bar-desktop-heading list-group-item-heading">メール作成</h6>
                    <p class="side-bar-desktop-text  list-group-item-text">NewMail</p>
                </a>
                <a class="side-bar-item side-bar-item-open list-group-item" href="#">
                    <span class="ripple-effect"></span>
                    <span class="side-bar-icon glyphicon icon-email-inbox" aria-hidden="true"></span>
                    <h6 class="side-bar-desktop-heading list-group-item-heading">受信メール</h6>
                    <p class="side-bar-desktop-text  list-group-item-text">ReceivingMails</p>
                    <span class="web_mail_badge badge">42</span>
                </a>
                <a class="side-bar-item side-bar-item-open list-group-item" href="#">
                    <span class="ripple-effect"></span>
                    <span class="side-bar-icon glyphicon icon-email-outbox" aria-hidden="true"></span>
                    <h6 class="side-bar-desktop-heading list-group-item-heading">送信メール</h6>
                    <p class="side-bar-desktop-text  list-group-item-text">SendingMails</p>
                </a>
            </div>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-time" aria-hidden="true"></span>
                <h6 class="side-bar-desktop-heading list-group-item-heading">スケジュール</h6>
                <p class="side-bar-desktop-text list-group-item-text">Schedule</p>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <h6 class="side-bar-desktop-heading list-group-item-heading">掲示板</h6>
                <p class="side-bar-desktop-text list-group-item-text">BBS</p>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <h6 class="side-bar-desktop-heading list-group-item-heading">勤怠予定</h6>
                <p class="side-bar-desktop-text list-group-item-text">Attendance</p>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-user" aria-hidden="true"></span>
                <h6 class="side-bar-desktop-heading list-group-item-heading">ユーザー情報</h6>
                <p class="side-bar-desktop-text list-group-item-text">UserProfile</p>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <h6 class="side-bar-desktop-heading list-group-item-heading">管理</h6>
                <p class="side-bar-desktop-text list-group-item-text">Administration</p>
                <span class="side-bar-collapse-icon glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div id="side-bar-tablet-wrapper" class="visible-sm-block">
        <div id="side-bar-tablet" class="list-group">
            <a class="side-bar-top side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-home" aria-hidden="true"></span>
            </a>
            <a class="side-bar-item side-bar-item-open list-group-item" href="#" data-menu-parent="1">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </a>
            <div data-menu-child="1">
                <a class="side-bar-item side-bar-item-open list-group-item" href="#">
                    <span class="ripple-effect"></span>
                    <span class="side-bar-icon glyphicon icon-email-edit" aria-hidden="true"></span>
                </a>
                <a class="side-bar-item side-bar-item-open list-group-item" href="#">
                    <span class="ripple-effect"></span>
                    <span class="side-bar-icon glyphicon icon-email-inbox" aria-hidden="true"></span>
                </a>
                <a class="side-bar-item side-bar-item-open list-group-item" href="#">
                    <span class="ripple-effect"></span>
                    <span class="side-bar-icon glyphicon icon-email-outbox" aria-hidden="true"></span>
                </a>
            </div>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-time" aria-hidden="true"></span>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-wrench" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <div id="btn-wrapper" class="panel panel-default">
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-default" data-toggle="tooltip" data-container="body" data-placement="top" title="新規登録" href="#">
                    <span class="connectyee-icons icon-interface" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div id="select-date-wrapper" class="panel panel-default">
            <button type="button" id="select-date-button" class="btn btn-success">対象日</button>
            <div id="select-date-label">XXXX/XX/XX</div>
        </div>
        <div class="attendance-list-wrapper panel panel-default">
            <div class="list-group">
                <div class="container-fluid">
                    <div href="#" class="attendance-list-header list-group-item row">
                        ＸＸＸＸＸ　ＸＸＸＸＸ
                    </div>
                    <div href="#" class="attendance-list-body list-group-item row">
                        <div class="attendance-kubun col-sm-2 col-xs-5">
                            <a class="attendance-edit-button btn btn-success glyphicon glyphicon-edit" data-toggle="tooltip" data-container="body" data-placement="top" title="編集"></a>ＸＸＸＸ
                        </div>
                        <div class="attendance-memo col-sm-6 col-xs-7">ＸＸＸ</div>
                        <div class="attendance-registration-user col-sm-2 col-xs-7">ＸＸＸＸＸ　ＸＸＸＸＸ</div>
                        <div class="attendance-registration-date col-sm-2 col-xs-5">XX/XX/XX XX:XX</div>
                    </div>
                    <div href="#" class="attendance-list-body list-group-item row">
                        <div class="attendance-kubun col-sm-2 col-xs-5">
                            <a class="attendance-edit-button btn btn-success glyphicon glyphicon-edit" data-toggle="tooltip" data-container="body" data-placement="top" title="編集"></a>ＸＸＸＸ
                        </div>
                        <div class="attendance-memo col-sm-6 col-xs-7">ＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸ</div>
                        <div class="attendance-registration-user col-sm-2 col-xs-7">ＸＸＸＸＸ　ＸＸＸＸＸ</div>
                        <div class="attendance-registration-date col-sm-2 col-xs-5">XX/XX/XX XX:XX</div>
                    </div>
                    <div href="#" class="attendance-list-body list-group-item row">
                        <div class="attendance-kubun col-sm-2 col-xs-5">ＸＸＸＸ</div>
                        <div class="attendance-memo col-sm-6 col-xs-7">ＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸ</div>
                        <div class="attendance-registration-user col-sm-2 col-xs-7">ＸＸＸＸＸ　ＸＸＸＸＸ</div>
                        <div class="attendance-registration-date col-sm-2 col-xs-5">XX/XX/XX XX:XX</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="attendance-list-wrapper panel panel-default">
            <div class="list-group">
                <div class="container-fluid">
                    <div href="#" class="attendance-list-header list-group-item row">
                        ＸＸＸＸＸ　ＸＸＸＸＸ
                    </div>
                    <div href="#" class="attendance-list-body list-group-item row">
                        <div class="attendance-kubun col-sm-2 col-xs-5">
                            <a class="attendance-edit-button btn btn-success glyphicon glyphicon-edit" data-toggle="tooltip" data-container="body" data-placement="top" title="編集"></a>ＸＸＸＸ
                        </div>
                        <div class="attendance-memo col-sm-6 col-xs-7">ＸＸＸ</div>
                        <div class="attendance-registration-user col-sm-2 col-xs-7">ＸＸＸＸＸ　ＸＸＸＸＸ</div>
                        <div class="attendance-registration-date col-sm-2 col-xs-5">XX/XX/XX XX:XX</div>
                    </div>
                    <div href="#" class="attendance-list-body list-group-item row">
                        <div class="attendance-kubun col-sm-2 col-xs-5">ＸＸＸＸ</div>
                        <div class="attendance-memo col-sm-6 col-xs-7">ＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸ</div>
                        <div class="attendance-registration-user col-sm-2 col-xs-7">ＸＸＸＸＸ　ＸＸＸＸＸ</div>
                        <div class="attendance-registration-date col-sm-2 col-xs-5">XX/XX/XX XX:XX</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.ja.min.js"></script>
    <script type="text/javascript" src="js/connectyee.common.js"></script>
    <script type="text/javascript" src="js/connectyee.attendance.js"></script>
    <script type="text/javascript" src="js/classie.js"></script>
    <script type="text/javascript" src="js/svgLoader.js"></script>
</body>

</html>
