<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>connectyee</title>
    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.paper.min.css" rel="stylesheet">
    <link href="css/bootstrap-multiselect.css" rel="stylesheet">
    <link href="css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="css/page-loading-effects.css" rel="stylesheet">
    <link href="css/connectyee.icon.css" rel="stylesheet">
    <link href="css/connectyee.common.css" rel="stylesheet">
    <link href="css/connectyee.calendar.css" rel="stylesheet">
    <script type="text/javascript" src="js/snap.svg-min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header>
        <div id="header-container" class="clearfix">
            <div id="header-brand-container" class="pull-left">
                <div id="menu-btn-wrapper" class="visible-xs-block">
                    <span id="menu-btn-top" class="menu-btn"></span>
                    <span id="menu-btn-middle" class="menu-btn"></span>
                    <span id="menu-btn-bottom" class="menu-btn"></span>
                </div>
            </div>
            <div id="page-title-container" class="pull-left"><span class="header-icon glyphicon glyphicon-home" aria-hidden="true"></span><span id="page-title">DashBoard</span></div>
            <div id="logout-container" class="pull-right">
                <button id="logout-btn" type="button" class="btn btn-default"><a href="#"><span id="logout-img" class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></button>
            </div>
            <div id="user-name-container" class="pull-right"><span id="user-name">ＸＸＸ ＸＸＸ</span></div>
        </div>
    </header>
    <div id="side-bar-desktop-wrapper" class="hidden-xs hidden-sm">
        <div id="side-bar-desktop" class="list-group">
            <a class="side-bar-top side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-home" aria-hidden="true"></span>
                <h6 class="side-bar-desktop-heading list-group-item-heading">ダッシュボード</h6>
                <p class="side-bar-desktop-text list-group-item-text">DashBoard</p>
            </a>
            <a class="side-bar-item side-bar-item-open list-group-item" href="#" data-menu-parent="1">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <h6 class="side-bar-desktop-heading list-group-item-heading">Ｗｅｂメール</h6>
                <p class="side-bar-desktop-text  list-group-item-text">WebMail</p>
                <span class="side-bar-collapse-icon glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            </a>
            <div data-menu-child="1">
                <a class="side-bar-item side-bar-item-open list-group-item" href="#">
                    <span class="ripple-effect"></span>
                    <span class="side-bar-icon glyphicon icon-email-edit" aria-hidden="true"></span>
                    <h6 class="side-bar-desktop-heading list-group-item-heading">メール作成</h6>
                    <p class="side-bar-desktop-text  list-group-item-text">NewMail</p>
                </a>
                <a class="side-bar-item side-bar-item-open list-group-item" href="#">
                    <span class="ripple-effect"></span>
                    <span class="side-bar-icon glyphicon icon-email-inbox" aria-hidden="true"></span>
                    <h6 class="side-bar-desktop-heading list-group-item-heading">受信メール</h6>
                    <p class="side-bar-desktop-text  list-group-item-text">ReceivingMails</p>
                    <span class="web_mail_badge badge">42</span>
                </a>
                <a class="side-bar-item side-bar-item-open list-group-item" href="#">
                    <span class="ripple-effect"></span>
                    <span class="side-bar-icon glyphicon icon-email-outbox" aria-hidden="true"></span>
                    <h6 class="side-bar-desktop-heading list-group-item-heading">送信メール</h6>
                    <p class="side-bar-desktop-text  list-group-item-text">SendingMails</p>
                </a>
            </div>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <h6 class="side-bar-desktop-heading list-group-item-heading">スケジュール</h6>
                <p class="side-bar-desktop-text list-group-item-text">Schedule</p>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <h6 class="side-bar-desktop-heading list-group-item-heading">掲示板</h6>
                <p class="side-bar-desktop-text list-group-item-text">BBS</p>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                <h6 class="side-bar-desktop-heading list-group-item-heading">勤怠予定</h6>
                <p class="side-bar-desktop-text list-group-item-text">Attendance</p>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon icon-user" aria-hidden="true"></span>
                <h6 class="side-bar-desktop-heading list-group-item-heading">ユーザー情報</h6>
                <p class="side-bar-desktop-text list-group-item-text">UserProfile</p>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <h6 class="side-bar-desktop-heading list-group-item-heading">管理</h6>
                <p class="side-bar-desktop-text list-group-item-text">Administration</p>
                <span class="side-bar-collapse-icon glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div id="side-bar-tablet-wrapper" class="visible-sm-block">
        <div id="side-bar-tablet" class="list-group">
            <a class="side-bar-top side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-home" aria-hidden="true"></span>
            </a>
            <a class="side-bar-item side-bar-item-open list-group-item" href="#" data-menu-parent="1">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </a>
            <div data-menu-child="1">
                <a class="side-bar-item side-bar-item-open list-group-item" href="#">
                    <span class="ripple-effect"></span>
                    <span class="side-bar-icon glyphicon icon-email-edit" aria-hidden="true"></span>
                </a>
                <a class="side-bar-item side-bar-item-open list-group-item" href="#">
                    <span class="ripple-effect"></span>
                    <span class="side-bar-icon glyphicon icon-email-inbox" aria-hidden="true"></span>
                </a>
                <a class="side-bar-item side-bar-item-open list-group-item" href="#">
                    <span class="ripple-effect"></span>
                    <span class="side-bar-icon glyphicon icon-email-outbox" aria-hidden="true"></span>
                </a>
            </div>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-briefcase" aria-hidden="true"></span>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
            <a class="side-bar-item list-group-item" href="#">
                <span class="ripple-effect"></span>
                <span class="side-bar-icon glyphicon glyphicon-wrench" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div id="page-content-wrapper" class="calendar-wrapper">
        <div class="container calendar-container">
            <div class="row panel panel-default">
                <div id="calendar-header" class="clearfix">
                    <span id="btn-prev-month" class="glyphicon icon-circle-left" aria-hidden="true"></span>
                    <span id="display-year-month">2016/03</span>
                    <span id="btn-next-month" class="glyphicon icon-circle-right" aria-hidden="true"></span>
                </div>
                <div id="calendar-body">
                    <table>
                        <tr>
                            <th>SUN</th>
                            <th>MON</th>
                            <th>TUE</th>
                            <th>WED</th>
                            <th>THU</th>
                            <th>FRI</th>
                            <th>SAT</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td id="cal_selected_day">9</td>
                            <td>10</td>
                            <td id="cal_today">11</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                            <td>24</td>
                            <td>25</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td>27</td>
                            <td>28</td>
                            <td>29</td>
                            <td>30</td>
                            <td>31</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="calendar-edit-wrapper" class="row panel panel-default">
                <div id="target-date-wrapper" class="calendar-edit-parts-wrapper">
                    <span class="label-input-header">日　　付</span>
                    <span id="select-target-date">XXXX/XX/XX</span>
                </div>
                <div id="date-kubun-wrapper" class="calendar-edit-parts-wrapper">
                    <span class="label-input-header">日付区分</span>
                    <select id="select-date-kubun" class="form-control" name="date_kubun">
                        <option value="0" selected="selected">　</option>
                        <option value="1">出社日</option>
                        <option value="2">その他</option>
                    </select>
                </div>
                <div id="date-name-wrapper" class="calendar-edit-parts-wrapper calendar-parts-wrapper-last">
                    <span class="label-input-header">日付名称</span>
                    <input type="text" id="input-date-name" class="form-control" name="date_name" maxlength="10"></input>
                </div>
                <div id="btn-regist-wrapper" class="clearfix">
                    <button id="btn-regist" class="btn btn-danger" data-toggle="tooltip" data-container="body" data-placement="top" title="登録"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.ja.min.js"></script>
    <script type="text/javascript" src="js/connectyee.common.js"></script>
    <script type="text/javascript" src="js/connectyee.calendar.js"></script>
    <script type="text/javascript" src="js/connectyee.calendarmaker.js"></script>
    <script type="text/javascript" src="js/classie.js"></script>
    <script type="text/javascript" src="js/svgLoader.js"></script>
</body>

</html>
