/*
 * Panel-General
 */

#page-content-wrapper div[id*='-heading']
{
    font-size: 15px;

    color: #fff;
}

#page-content-wrapper div[class*='-body']
{
    width: 100%;
    padding: 5px 0 5px 10px;
}

#page-content-wrapper div[class*='-body'] a
{
    color: #666;
}

#page-content-wrapper div[class*='-body'] p
{
    margin: 0;
}

.panel-link:hover
{
    text-decoration: none;
}

.panel-link:focus
{
    text-decoration: none;
}


/*
 * date-info
 */

#date-info-wrapper
{
    margin: 0 15px 20px 15px;

    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
            box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

#date-info-wrapper div[class*='col-md']
{
    padding: 0;
}

#date-info-wrapper .list-group
{
    margin: 0;
}

#date-info-wrapper .list-group-item
{
    border-right: 0;
    border-radius: 0;
}

#date-info-wrapper .list-group-item:first-child
{
    border-top: 0;
}

#date-info-wrapper .list-group-item:last-child
{
    border-bottom: 0;
}

#date-info-wrapper p
{
    font-size: 14px;

    margin: 0;
}


/*
 * Calendar
 */

#calendar-header,
#calendar-body
{
    background-color: rgb(23, 102, 166);
}

#calendar-header
{
    height: 10%;
    padding: 10px 10px 0 10px;

    text-align: center;
}

#calendar-body
{
    height: 90%;
    padding: 0 10px 10px 10px;
}

#calendar-body table
{
    width: 100%;

    table-layout: fixed;
}

#calendar-body th,
#calendar-body td
{
    height: 35px;

    text-align: center;

    color: #fff;
}

#calendar-body th
{
    font-size: 14px;
    font-weight: lighter;
}

#calendar-body td:not(:empty)
{
    font-size: 18px;

    cursor: pointer;
}

#calendar-body td:not(:empty):hover,
#calendar-body #cal_today:hover,
#calendar-body #cal_selected_day
{
    color: rgb(23, 102, 166);
    border-radius: 10%;
    background-color: #fff;
}

#calendar-body #cal_today
{
    border: 1px solid #fff;
    background-color: rgb(141, 195, 239);
}

#calendar-header span[id*='btn-']
{
    font-size: 30px;

    cursor: pointer;

    color: #fff;
}

#btn-prev-month
{
    float: left;
}

#display-year-month
{
    font-size: 18px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border: 0;
    background-color: rgb(23, 102, 166);
}

#btn-next-month
{
    float: right;
}


/*
 * date-name
 */

#date-name
{
    height: 39px;
    padding-top: 8px;
}


/*
 * schedule
 */

#schedule-wrapper
{
    min-height: 130px;
    padding: 10px;
}

.schedule-items
{
    line-height: 1.3em;

    margin-bottom: 5px;
}


/*
 * attendance
 */

#attendance-wrapper
{
    min-height: 130px;
    padding: 10px;
}

.attendance-items
{
    line-height: 1.3em;

    margin-bottom: 12px;
}

#attendance-wrapper div:last-child
{
    margin-bottom: 0px;
}

/*
 * Webmail
 */

#webmail-heading
{
    background-color: rgb(76, 175, 80);
}

#page-content-wrapper .webmail-body a[data-unread='true']
{
    font-size: 14px;
    font-weight: 900;
}

#page-content-wrapper .webmail-body a[data-unread='true'] p
{
    margin-top: -1px;
}


/*
 * BBS
 */

#bbs-heading
{
    background-color: rgb(156, 39, 176);
}


/*
 * media-queries
 */

@media (min-width: 768px)
{
    #schedule-wrapper
    {
        height: 130px;
        overflow-y: scroll;
    }
    #attendance-wrapper
    {
        height: 130px;
        overflow-y: scroll;
    }
}
