/*
 * Panel-General
 */
#page-content-wrapper div[id*='-heading']
{
    font-size: 15px;

    color: #fff;
}

#page-content-wrapper div[class*='-body']
{
    padding: 5px 0 5px 10px;
    width: 100%;
}

#page-content-wrapper div[class*='-body'] a
{
    color: #666;
}

#page-content-wrapper div[class*='-body'] p
{
    margin: 0;
}

.panel-link:hover {
    text-decoration: none;
}

.panel-link:focus {
    text-decoration: none;
}

/*
 * Webmail
 */
#webmail-heading
{
    background-color: rgb(76,175,80);
}


#page-content-wrapper .webmail-body a[data-unread='true']
{
    font-size: 14px;
    font-weight: 900;
}

#page-content-wrapper .webmail-body a[data-unread='true'] p
{
    margin-top: -1px;
}


/*
 * Schedule
 */
#schedule-heading
{
    background-color: rgb(255,152,0);
}

/*
 * BBS
 */
#bbs-heading
{
    background-color: rgb(156,39,176);
}

