/*
 * attendance-list
 */


/*
 * select date
 */

#select-date-wrapper
{
    position: relative;

    height: 40px;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 15px;
}

#select-date-button
{
    font-size: 13px;

    position: absolute;
    top: 5px;
    left: 5px;

    width: 100px;
    height: 30px;
    padding: 0;
}

#select-date-label
{
    font-size: 18px;
    font-weight: 100;

    position: absolute;
    top: 4px;
    left: 120px;

    width: 150px;
    height: 30px;
    padding-top: 2px;

    cursor: pointer;
    text-align: center;

    color: #666;
    border-bottom: 1px solid #ddd;
}


/*
 * list
 */

.attendance-list-wrapper
{
    margin-right: 10px;
    margin-bottom: 10px;
}

.attendance-list-header
{
    font-size: 16px;

    padding: 0 15px 0 15px;

    color: #666;
    border-color: #bce8f1;
    background-color: rgb(217, 237, 247);
}

.attendance-list-body
{
    overflow: hidden;

    padding: 0;
}

.attendance-kubun,
.attendance-memo,
.attendance-registration-user,
.attendance-registration-date
{
    margin-bottom: -10000px;
    padding: 12px 0 10012px 10px;

    border-left: 1px solid #ddd;
}

.attendance-edit-button
{
    font-size: 16px;

    position: absolute;
    top: 8px;
    left: 4px;

    width: 40px;
    height: 30px;
    padding: 1px 0 0 0;

    text-align: center;
}

.attendance-kubun
{
    padding-left: 50px;
}


/*
 * regist
 */

#regist-attendance-wrapper
{
    height: 300px;
    margin-right: 10px;
    padding-left: 15px;
}

#regist-attendance-wrapper #select-target-users-wrapper,
#regist-attendance-wrapper #target-date-button-wrapper,
#regist-attendance-wrapper #select-attendance-kubun-wrapper
{
    float: left;
}

#regist-attendance-wrapper .select-target-users,
#regist-attendance-wrapper #target-date-button,
#regist-attendance-wrapper .select-attendance-kubun
{
    width: 100px;
    height: 30px;
}

#regist-attendance-wrapper b.caret
{
    display: none;
}

#regist-attendance-wrapper #label-target-user,
#regist-attendance-wrapper #label-target-date,
#regist-attendance-wrapper #label-attendance-kubun
{
    font-size: 14px;
    line-height: 30px;

    display: inline-block;

    width: 150px;
    height: 30px;
    margin: 0 10px 0 10px;
    padding-left: 20px;

    border-bottom: 1px solid #ddd;
}

#regist-attendance-wrapper #target-users-wrapper,
#regist-attendance-wrapper #target-date-wrapper,
#regist-attendance-wrapper #attendance-kubun-wrapper,
#regist-attendance-wrapper #attendance-memo-wrapper
{
    margin-top: 15px;
}

#regist-attendance-wrapper #attendance-memo-wrapper
{
    padding-right: 10px;
}

#attendance-memo
{
    font-size: 14px;

    width: 100%;
    height: 30px;
    padding-left: 10px;
}

#btn-regist
{
    float: right;

    width: 50px;
    height: 50px;
    margin: 40px 20px 0 0;
    padding-top: 10px;

    border-radius: 25px;
    -webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, .3);
            box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, .3);
}

#btn-regist span
{
    font-size: 20px;

    color: #fff;
}


/*
 * media-queries
 */

@media (max-width: 767px)
{
    .attendance-kubun,
    .attendance-memo
    {
        margin-bottom: 0;
        padding: 12px 0 12px 10px;
    }
    .attendance-registration-user,
    .attendance-registration-date
    {
        border-top: 1px solid #ddd;
    }
    .attendance-kubun
    {
        padding-left: 50px;
    }
}

@media (max-width: 479px)
{
    #select-date-button
    {
        width: 80px;
    }
    #select-date-label
    {
        left: 100px;

        width: 120px;
    }
    .attendance-kubun
    {
        font-size: 11px;
    }
    #regist-attendance-wrapper .select-target-users,
    #regist-attendance-wrapper #target-date-button,
    #regist-attendance-wrapper .select-attendance-kubun
    {
        width: 80px;
    }
    #regist-attendance-wrapper #label-target-user,
    #regist-attendance-wrapper #label-target-date,
    #regist-attendance-wrapper #label-attendance-kubun
    {
        font-size: 13px;

        width: 120px;
    }
}
