/*
 * Calendar
 */


/*
 * display-calendar
 */

#page-content-wrapper.calendar-wrapper {
    padding-right: 10px;
}

.container.calendar-container {
    max-width: 700px;
}

.container.calendar-container .row.panel.panel-default {
    margin-bottom: 0;
}

#calendar-header,
#calendar-body {
    background-color: rgb(23, 102, 166);
}

#calendar-header {
    height: 10%;
    padding: 10px 10px 0 10px;
    text-align: center;
}

#calendar-body {
    height: 90%;
    padding: 0 10px 9px 10px;
}

#calendar-body table {
    width: 100%;
    table-layout: fixed;
}

#calendar-body th,
#calendar-body td {
    height: 35px;
    text-align: center;
    color: #fff;
}

#calendar-body th {
    font-size: 14px;
    font-weight: lighter;
}

#calendar-body td:not(:empty) {
    font-size: 18px;
    cursor: pointer;
}

#calendar-body td.cal_named_day {
    font-size: 15px;
    line-height: 15px;
    box-sizing: border-box;
    border: 1px solid #fff;
}

#calendar-body td.cal_named_day p {
    font-size: 10px;
    line-height: 10px;
}

#calendar-body td:not(:empty):hover,
#calendar-body #cal_today:hover,
#calendar-body #cal_selected_day {
    color: rgb(23, 102, 166);
    border-radius: 10%;
    background-color: #fff;
}

#calendar-body #cal_selected_day.cal_named_day {
    font-weight: bold;
    border: none;
}

#calendar-body #cal_today {
    border: 1px solid #fff;
    background-color: rgb(141, 195, 239);
}

#calendar-header span[id*='btn-'] {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

#btn-prev-month {
    float: left;
}

#display-year-month {
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: 0;
    background-color: rgb(23, 102, 166);
}

#btn-next-month {
    float: right;
}


/*
 * edit-calendar
 */

#calendar-edit-wrapper {
    padding: 20px;
}

.calendar-edit-parts-wrapper {
    margin-bottom: 15px;
}

.calendar-edit-parts-wrapper.calendar-parts-wrapper-last {
    margin-bottom: 20px;
}

.label-input-header {
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    width: 100px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    color: #fff;
    background-color: rgb(76, 175, 80);
}

#select-date-kubun,
#input-date-name,
#select-target-date {
    display: inline-block;
    max-width: 200px;
}

#select-target-date {
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
}

#select-target-date:hover {
    cursor: pointer;
}

#input-date-name {
    padding-left: 10px;
}

#select-date-kubun {
    padding-left: 10px;
    border: 1px solid #ddd;
    box-shadow: none;
}

#select-date-kubun:focus {
    border: 1px solid #ddd;
    box-shadow: inset 0 -2px 0 #2196f3;
}

#btn-regist {
    float: right;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    border-radius: 25px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, .3);
}

#btn-regist span {
    font-size: 20px;
    color: #fff;
}


/*
 * media-queries
 */

@media (max-width: 479px) {
    #select-date-kubun,
    #input-date-name,
    #select-target-date {
        display: block;
        margin-top: 5px;
    }
}
