/*
 * input-user-info
 */

#input-user-info-wrapper
{
    margin-right: 10px;

    border: 1px solid #ddd;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #ddd;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
}

#input-user-info-wrapper .row
{
    font-size: 14px;

    word-break: break-all;
}

#input-user-info-wrapper input,
#input-user-info-wrapper select
{
    padding-left: 10px;
    border: 1px solid #ddd;
    box-shadow: none;
}

#input-user-info-wrapper input:focus,
#input-user-info-wrapper select:focus
{
    border: 1px solid #ddd;
    box-shadow: inset 0 -2px 0 #2196f3;
}

#input-user-info-wrapper select {
    width: 100px;
}

.input-user-info-header,
.input-user-info-body
{
    min-height: 50px;

    border-bottom: 1px solid #ddd;
}

.input-user-info-header
{
    padding-top: 13px;

    border-right: 1px solid #ddd;
    background-color: rgb(217, 237, 247);
}

.input-user-info-body
{
    padding-top: 6px;
}

#btn-regist
{
    float: right;

    width: 50px;
    height: 50px;
    margin: 10px 20px 10px 0;
    padding-top: 10px;

    border-radius: 25px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, .3);
}

#btn-regist span
{
    font-size: 20px;

    color: #fff;
}

/*
 * input-user-info-completed
 */

#completed-msg {
    min-height: 50px;
    padding: 11px 0 10px 10px;
    margin-right: 10px;
    font-size: 14px;
}

.input-user-info-body.completed
{
    padding-top: 13px;
}

/*
 * user-list
 */
#user-list-wrapper {
    margin-right: 10px;
}

#user-list-wrapper .row {
    padding-top: 2px;
    padding-bottom: 2px;
}

#user-list-wrapper div {
    word-break: break-all;
}

.user-list-header {
    background-color: rgb(217,237,247);
}

.user-list-header .full-name-kana {
    font-size: 11px;
}

.user-list-header .full-name {
    font-size: 16px;
    line-height: 16px;
}

.user-list-header .account,
.user-list-header .mail-address,
.user-list-header .authority {
    font-size: 14px;
}

.user-list-header .authority {
    text-align: right;
}

/*
 * media-queries
 */

@media (max-width: 480px)
{
    .input-user-info-header
    {
        border-right: none;
    }
}
